#tableHeader li {
    padding: 5px;
    width: 13%;
}

#tableHeader {
    display: flex;
    list-style-type: none;
}

#tableItems {
    display: flex;
}

#tableItems li {
    padding: 5px;
    list-style-type: none;
    width: 13%;
}
