#outputText{
    border: solid 1px;
}
#inputText, #outputText{
    height: 10em;
width:40%;
}
#convert-btn{
    margin:auto;
    margin-left: 12em;
    padding: 0.5em;
}
#mdProcessContainer{
    width:70%;
    margin:auto;
    
    
}
