#outputText{
    border: solid 1px;
}
#inputText, #outputText{
    height: 10em;
    width:40%;
    margin: auto;
  
}
#convert-btn{
    margin:auto;
    padding: 0.5em;
}
#mdProcessContainer{
    text-align: center;
    width:70%;
    margin:auto;
    
    
}
